*,
*::before,
*::after {
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 16px;
   scroll-behavior: smooth;
}

html,
body,
main,
section,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
   margin: 0;
   padding: 0;
}

ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   color: black;
   text-decoration: none;
}

body {
   font-family: 'Calmius';
   font-size: 16px;
   letter-spacing: 2px;
   margin-bottom: 40px;
   background: #fff;
   color: #000;
}

.hero {
   min-height: 100vh;
}

.countdown {
   text-align: center;
   max-width: 600px;
   margin: 80px auto;
}

.countdown-title {
   font-size: 16px;
   letter-spacing: 2px;
   margin-bottom: 40px;
}

.countdown-timer {
   display: flex;
   justify-content: space-between;
}

.time-block span {
   display: block;
   font-size: 48px;
   font-weight: 500;
}

.time-block small {
   font-size: 14px;
   letter-spacing: 1px;
}



@font-face {
   font-family: 'Calmius';
   src: local('Calmius Extra Bold'), local('Calmius-Extra-Bold'),
      url('Calmius-ExtraBold.woff2') format('woff2'),
      url('Calmius-ExtraBold.woff') format('woff'),
      url('Calmius-ExtraBold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
}

@media (max-width: 600px) {}