*,
*::before,
*::after {
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
   font-size: 16px;
   scroll-behavior: smooth;
}

html,
body,
main,
section,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Open Sans', Arial, sans-serif;
   font-size: 18px;
   font-weight: 300;
   line-height: 1.5;
   color: #333;
   background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Playfair Display', serif;
   font-weight: 500;
}

ul,
li {
   margin: 0;
   padding: 0;
   list-style: none;
}

a {
   color: black;
   text-decoration: none;
}

.main {
   display: flex;
   flex-direction: column;
   align-items: center;
}

section {
   padding: 40px 0;
}

.conatiner {
   width: 100%;
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

.title {
   text-align: center;
   font-size: 38px;
   font-weight: 600;
   text-transform: uppercase;

   margin-bottom: 40px;
}

/* HERO SECTION */

.hero {
   padding-top: 40px;
   min-height: 100vh;
}

.hero-title {
   font-size: 38px;
   text-align: center;
   margin-bottom: 20px;
}

.hero-content {
   text-align: center;

   img {
      max-width: 350px;
      width: 100%;
      height: auto;
   }
}

.hero-text-cover {
   padding: 20px;

   .countdown {
      max-width: 600px;
      margin: 80px auto;
   }

   p {
      max-width: 600px;
      margin: 10px 0;
   }
}

/* COUNTDOWN SECTION */
.countdown-title {
   font-size: 20px;
   font-weight: 600;
   letter-spacing: 2px;
   margin-bottom: 20px;
   text-align: center;

   text-transform: uppercase;
}

.time-block {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5px;
}

.countdown-timer {
   display: flex;
   justify-content: space-between;
   gap: 50px;
}

.time-block span {
   display: block;
   font-size: 51px;
   font-weight: 300;
}

.time-block small {
   font-size: 16px;
   letter-spacing: 1px;
}

/* GATHERING SECTION */
.gathering {
   padding: 50px 0;
}

.gathering-content {
   display: flex;
   align-items: center;
   gap: 40px;

   img {
      display: block;
      width: 80px;
      height: auto;
      margin-bottom: -30px;
   }
}

.gathering-time {
   font-size: 30px;
   font-weight: 600;
   margin-bottom: 20px;

   font-family: 'Playfair Display', serif;
}

/* MAP SECTION */
.map {
   text-align: center;

   p {
      max-width: 600px;
      margin: 0 auto 30px auto;
   }

   iframe {
      max-width: 800px;
      width: 100%;
   }
}

/* DRESS CODE SECTION */
.dress-code {
   text-align: center;
   p {
      max-width: 500px;
      margin: 0 auto 30px auto;
   }
}

/* FONTS SECTION */
@font-face {
   font-family: 'Calmius';
   src: local('Calmius Extra Bold'), local('Calmius-Extra-Bold'),
      url('Calmius-ExtraBold.woff2') format('woff2'),
      url('Calmius-ExtraBold.woff') format('woff'),
      url('Calmius-ExtraBold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
}

@font-face {
   font-family: 'Love';
   src: url('/fonts/Love.otf') format('opentype'),
      url('/fonts/LoveRegular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Vallentina';
   src: url('/fonts/Vallentina.otf') format('opentype'),
      url('/fonts/VallentinaRegular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {}